@font-face {
    font-family: 'Noto Sans Thai';
    src: url('/assets/fonts/NotoSansThai-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Noto Sans Thai';
    src: url('/assets/fonts/NotoSansThai-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Tailwind CSS */
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  